ion-title{
    position: absolute;
    color: black;
    top: 20%;
    font-weight: bold;
    background-color: #6179e488;  
    box-shadow: #6179e488;  
    font-size: xx-large;
}
.buscar{
    position: absolute;
    top: 20%;
    background-color: #6179e488; 
    right: -1%;
    border-radius: 25%;
}
.gridHeader{
    font-size: larger;
    font-weight: bold;
    background-color: #121a3da8;
}
